version: '3.2'
services:
  postgres:
    image: postgres:11.5
    restart: always
    volumes:
      - ./pgdata:/var/lib/postgresql/data/
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}

  adminer:
    image: adminer
    restart: always
    expose:
      # Change the value in the nginx configuration if this is changed
      - "8080"
    depends_on:
      - postgres

  web:
    restart: always
    build: ./web
    volumes:
      - webdata:/usr/src/app
    expose:
      # Change the value in the nginx configuration if this is changed
      - "8000"
    depends_on:
      - postgres
    env_file: .env

  nginx-reports:
    restart: always
    image: bitnami/nginx
    env_file: .env
    ports:
      - "${HOST_PORT}:80"
    volumes:
      - webdata:/usr/src/app
      - "./nginx/confs/mantidreports.conf:/opt/bitnami/nginx/conf/server_blocks/mantidreports.conf:ro"
    networks:
      - default
      - nginx_net

volumes:
  # This allows Nginx to serve static content, as Django won't...
  webdata:

networks:
  nginx_net:
    external: true
